// @import './variables';
// To be implemented

html * {
   font-family: Signika, sans-serif !important;
}

html, body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pad-tb-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.pad-tb-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.inner-flex-top {
    display: flex;
    justify-content: center;
    height: 100%;  
    // justify-content: space-evenly;
}

.flex-30 {
    flex: 0 0 30%;
}

.flex-50 {
    flex: 0 0 40%;
}

.margin-lr {
    margin-left: 50px;
    margin-right: 50px;
}

// Utility: Containers

.pp-box-deco {
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.fixed-bg-home{
  padding-top: 55px;
  padding-bottom: 55px;

  width: 90% !important;
  min-width: 400px;
  min-height: 650px;
}

.fixed-bg-history {
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 50px;
  
  width: 100% !important;
  min-height: 230px;
}

// Utility: Text

.text-white {
    color: white;
}

.text-blue {
    color: #0275d8;
}

.text-strong {
    // font-weight: bold;
    font-size: 40px;
}

// Buttons

.pp-button {
    font-size:22px !important;
    width: 180px;
    height: 57px;
}

.pp-button-long {
    font-size:25px !important;
    width: 280px;
    height: 57px;
}

// Header

.navbar-nav .nav-link {
    color: red;
}

.nav-font-size {
    font-size: 30px;
}

// Landing page

.bg-light-blue {
    background-color: #0275d8 ;
}

.page-icon {
    width: 370px;
    height: 370px;
}

// Home page

.small-icon {
    width: 230px;
    height: 230px;
}

.xs-icon {
    cursor: pointer;

    margin-left: 6px;
    margin-right: 6px;

    width: 60px;
    height: 60px;
}

// Login/Sign up

.fixed-bg-auth {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 50px;

  width: 80% !important;
  max-width: 1400px !important;
  
}

.input-top {
  width:100%;
  max-width: 398.99px;
  height: 42.65px;
  outline:none;

  background: #FFFFFF;
  border: 1.5px solid #C8C8C8;
  box-sizing: border-box;
  border-radius: 16px;

  padding: 8px 12px;
  margin: 12px 0;
}

.error-message {
    padding-top: 10px;
    color: red;
}

// Load animation

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;

}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// Chat
.chat-message-container {
  max-height: 256px;
  overflow-y: scroll;
}

.chat-bubble-left, .chat-bubble-right {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;
}

.chat-bubble-left {
  align-items: flex-start;
}

.chat-bubble-right {
  align-items: flex-end;
}

.chat-text-field {
  display: flex;
  margin-top: 16px;
}


// Editor

.textarea-minheight {
    flex: 1;
}
